@media only screen and (min-width: 1110px) {
    #coins-display .coin-listed:nth-child(4) {
        width: 200px;
        height: 200px;
        padding: 16px;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 48px;
        color: white;
        align-items: flex-start;
        background-image: linear-gradient(to bottom right, #cd1499, #560bad);
        box-shadow: rgba(14, 13, 13, 0.16) 0px 3px 6px,
            rgba(0, 0, 0, 0.23) 0px 3px 6px;

        & span {
            height: 36px;
            width: 100%;
        }

        & .variation-24h img {
            filter: invert(1);
        }
        & .coin-image {
            background-color: #e3eaec;
            border-radius: 100%;
            padding: 2px;
        }

        & h4 {
            font-size: 20px;
            font-weight: $Bold;
        }

        & .price-crypto {
            display: flex;
            width: 100%;
            justify-content: space-between;
            align-items: flex-start;
            flex-direction: column;
            height: 72px;

            & p {
                color: #ffffffe7;
                display: flex;
            }
        }
    }

    a {
        text-decoration: none;
    }
}

@media only screen and (max-width: 1000px) {
    #coins-display {
        width: calc(100% - 12px);

        & .price-crypto {
            width: fit-content;
        }
    }
}

@media only screen and (max-width: 600px) {
    header {
        height: 72px;
        display: flex;
        justify-content: space-between;
        width: 98%;
        padding: 0px 2%;

        & #searchbar {
            display: none;
        }

        & #menu-button {
            display: flex;
        }

        & #github-link,
        #dark-switcher {
            display: none;
        }
    }

    #side-menu {
        display: none;
    }

    #body-section {
        padding-left: 0px;
        width: 100%;
    }

    .coin-listed {
        padding-left: 8px;
        padding-right: 8px;
        width: 100%;

        & img {
            height: 32px;
        }

        & span h4{
            margin-left: 10px;
            font-size: 16px;
            width: 40px;
        }

        & .price-crypto p{
            display: none;
        }
    }

    #coins-display {
        width: 98%;
        justify-content: center;
    }
}