@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@600;700&family=Varela&display=swap');

$NotoSans: 'Noto Sans', sans-serif;
$SemiBold: 600;
$Bold: 700;

h5 {
  font-family: $NotoSans;
  font-weight: $Bold;
  font-size: 16px;
}

h3 {
  font-size: 20px;
  font-weight: $Bold;
  font-family: $NotoSans;
}

header {
  width: 100%;
  display: flex;
  height: 76px;
  justify-content: space-around;
  align-items: center;
  background-color: #F7F8F9;
  box-shadow: #4f555a1a 0px 4px 12px;
  position: fixed;
  z-index: 99;
  & .sided {
    display: flex;
    align-items: center;
    height: 76px;
    & h1 {
      margin-left: 3px;
      color: #493951;
    }
  }
  & img {
    width: fit-content;
    height: fit-content;
  }
  & #searchbar {
    width: calc(30% + 70px);
    padding: 0px 16px;
    height: 44px;
    display: flex;
    align-items: center;
    background-color: #E3EAEC;
    border-radius: 60px;
    justify-content: space-between;
    transition: all ease 0.3s;
    &:focus-within {
      outline: 1.6px solid #16233144;
    }
    & input {
      background-color: transparent;
      border: none;
      font-size: 16px;
      font-family: 'Varela', sans-serif;
      width: calc(100% - 48px);
      &:focus {
        outline: none;
      }
      ::placeholder {
        color: #49454F;
      }
    }
  }
  & #menu-button {
    display: none;
  }
}

input[type=search]::-ms-clear { display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal { display: none; width : 0; height: 0; }
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

h1 {
  font-size: 31.25px;
  font-family: $NotoSans;
  font-weight: $SemiBold;
}

#body-section {
  padding-top: 76px;
  padding-left: 196px;
}

#side-menu {
  padding-top: 76px;
  width: 196px;
  height: calc(100vh - 76px);
  position: fixed;
  background-color: #F5F6F8;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  box-shadow: #1623311a 4px 0px 8px;
  & p {
    text-align: center;
    line-height: 24px;
    color: #493951;
  }
}

#coins-display {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 88%;
  margin-left: auto;
  margin-right: auto;
}

.coin-listed {
  display: flex;
  flex-direction: row;
  height: 72px;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  background-color: #f3f3f3;
  margin-top: 16px;
  box-shadow: #56505936 0px 2px 8px;
  padding-left: 32px;
  padding-right: 32px;
  border-radius: 12px;
  & #price-crypto {
    width: 240px;
    display: flex;
    justify-content: space-between;
  }
  & span {
    display: flex;
    height: 72px;
    align-items: center;
    width: 30%;
    & h4 {
      margin-left: 16px;
    }
  }
  & img {
    height: 40px;
  }
}

.coin-listed:nth-child(1), .coin-listed:nth-child(2), .coin-listed:nth-child(3) {
  width: 200px;
  height: 200px;
  padding: 16px;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  align-items: flex-start;
  background-image: linear-gradient(to bottom right, #CD1499, #560BAD);
  box-shadow: rgba(14, 13, 13, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  & span {
    height: 36px;
  }
  & img {
    background-color: #E3EAEC;
    border-radius: 100%;
    padding: 2px;
  }
  & h4 {
    font-size: 20px;
    font-weight: $Bold;
  }
  & #price-crypto {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    height: 72px;
    & p {
      color: #ffffffe7;
    }
  }
}

a {
  text-decoration: none;
}

@import './_responsive.scss';
