@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@600;700&family=Varela&display=swap");
h5 {
  font-family: "Noto Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
}

h3 {
  font-size: 20px;
  font-weight: 700;
  font-family: "Noto Sans", sans-serif;
}

header {
  width: 100%;
  display: flex;
  height: 76px;
  justify-content: space-around;
  align-items: center;
  background-color: #F7F8F9;
  box-shadow: rgba(79, 85, 90, 0.1019607843) 0px 4px 12px;
  position: fixed;
  z-index: 99;
}
header .sided {
  display: flex;
  align-items: center;
  height: 76px;
}
header .sided h1 {
  margin-left: 3px;
  color: #493951;
}
header img {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
header #searchbar {
  width: calc(30% + 70px);
  padding: 0px 16px;
  height: 44px;
  display: flex;
  align-items: center;
  background-color: #E3EAEC;
  border-radius: 60px;
  justify-content: space-between;
  transition: all ease 0.3s;
}
header #searchbar:focus-within {
  outline: 1.6px solid rgba(22, 35, 49, 0.2666666667);
}
header #searchbar input {
  background-color: transparent;
  border: none;
  font-size: 16px;
  font-family: "Varela", sans-serif;
  width: calc(100% - 48px);
}
header #searchbar input:focus {
  outline: none;
}
header #searchbar input ::-moz-placeholder {
  color: #49454F;
}
header #searchbar input :-ms-input-placeholder {
  color: #49454F;
}
header #searchbar input ::placeholder {
  color: #49454F;
}
header #menu-button {
  display: none;
}

input[type=search]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input[type=search]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  display: none;
}

h1 {
  font-size: 31.25px;
  font-family: "Noto Sans", sans-serif;
  font-weight: 600;
}

#body-section {
  padding-top: 76px;
  padding-left: 196px;
  overflow: scroll;
  width: calc(100% - 196px);
}

#side-menu {
  padding-top: 76px;
  width: 196px;
  height: calc(100vh - 76px);
  position: fixed;
  background-color: #F5F6F8;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  box-shadow: rgba(22, 35, 49, 0.1019607843) 4px 0px 8px;
}
#side-menu p {
  text-align: center;
  line-height: 24px;
  color: #493951;
}

#coins-display {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 88%;
  margin-left: auto;
  margin-right: auto;
}

.coin-listed {
  display: flex;
  flex-direction: row;
  height: 72px;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  background-color: #f3f3f3;
  margin-top: 16px;
  box-shadow: rgba(86, 80, 89, 0.2117647059) 0px 2px 8px;
  padding-left: 32px;
  padding-right: 32px;
  border-radius: 12px;
}
.coin-listed #price-crypto {
  width: 240px;
  display: flex;
  justify-content: space-between;
}
.coin-listed span {
  display: flex;
  height: 72px;
  align-items: center;
}
.coin-listed span h4 {
  margin-left: 16px;
}
.coin-listed img {
  height: 40px;
}

/*.coin-listed:nth-child(1), .coin-listed:nth-child(2), .coin-listed:nth-child(3) {
  width: 200px;
  height: 200px;
  padding: 16px;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  align-items: flex-start;
  background-image: linear-gradient(to bottom right, #CD1499, #560BAD);
  box-shadow: rgba(14, 13, 13, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  & span {
    height: 36px;
  }
  & img {
    background-color: #E3EAEC;
    border-radius: 100%;
    padding: 2px;
  }
  & h4 {
    font-size: 20px;
    font-weight: $Bold;
  }
  & #price-crypto {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    height: 72px;
    & p {
      color: #ffffffe7;
    }
  }
}*/
a {
  text-decoration: none;
}

@media only screen and (max-width: 600px) {
  header {
    height: 72px;
    display: flex;
    justify-content: space-between;
    width: calc(100% - 48px);
    padding: 0px 24px;
  }
  header #searchbar {
    display: none;
  }
  header #menu-button {
    display: flex;
  }
  header #github-link,
header #dark-switcher {
    display: none;
  }
  #side-menu {
    display: none;
  }
  #body-section {
    padding-left: 0px;
    width: 100%;
  }
}
@media only screen and (min-width: 1100px) {
  .coin-listed:nth-child(4) {
    width: 200px;
    height: 200px;
    padding: 16px;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    align-items: flex-start;
    background-image: linear-gradient(to bottom right, #CD1499, #560BAD);
    box-shadow: rgba(14, 13, 13, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  }
  .coin-listed:nth-child(4) span {
    height: 36px;
  }
  .coin-listed:nth-child(4) img {
    background-color: #E3EAEC;
    border-radius: 100%;
    padding: 2px;
  }
  .coin-listed:nth-child(4) h4 {
    font-size: 20px;
    font-weight: 700;
  }
  .coin-listed:nth-child(4) #price-crypto {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    height: 72px;
  }
  .coin-listed:nth-child(4) #price-crypto p {
    color: rgba(255, 255, 255, 0.9058823529);
  }
  a {
    text-decoration: none;
  }
}
@media only screen and (max-width: 1000px) {
  #coins-display {
    width: calc(100% - 12px);
  }
  #coins-display #price-crypto {
    width: calc(80px + 8%);
  }
}/*# sourceMappingURL=App.css.map */